* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  background-color: #f7f7f7;
}
.header .nav {
  height: 60px;
  padding: 20px;
  margin: auto 150px;
  display: flex;
  justify-content: space-between;
  color: rgb(114, 114, 114);
}
.header .nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 12px;
}
.header .subBar {
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.header .subBar button {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 17.8px;
}
.header .subBar .button-menu {
  background-color: #6DB400;
  color: white;
}
.header .flaffy {
  margin-left: 150px;
  padding: 15px;
}
.header .flaffy i {
  color: #6DB400;
}

.main {
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
}
.main-menu {
  display: flex;
  padding: 20px;
  gap: 70px;
  flex-direction: row;
}
.main-menu button {
  border: none;
  font-size: 17px;
  background-color: #6DB400;
  padding: 7px;
  color: aliceblue;
  border-radius: 5px;
}
.main-menu button .arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 4px;
  margin-left: 3px;
}
.main-menu button .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.schedina {
  flex-wrap: wrap;
  display: flex;
  background-color: #f7f7f7;
  justify-content: center;
  gap: 200px;
  padding-bottom: 50px;
}
.schedina .card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 7px;
}
.schedina .card .monte {
  padding-top: 7px;
  padding-left: 5px;
}
.schedina .card .monte p {
  width: 450px;
}
.schedina .card .super-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 7px;
  width: -webkit-fill-available;
  margin-top: 90px;
}
.schedina .card .super-price button {
  background-color: transparent;
  border-color: #6DB400;
  color: #6DB400;
  border-radius: 4px;
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
}
.schedina .card .super-price .price {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}
.schedina .card .super-price .price h1 {
  color: #6DB400;
}
.schedina .card img {
  height: 150px;
  width: 100%;
}

.pre-footer {
  background-color: #F7F7F7;
}
.pre-footer div {
  margin: 0px 150px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.footer {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 150px;
  background-color: #f7f7f7;
}
.footer .plane {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer .plane div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .plane div img {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
  width: 50px;
}
.footer .plane div p {
  text-align: center;
}
.footer .img-carusel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
.footer .img-carusel img {
  width: 350px;
}
.footer .sitemap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 90px;
  text-align: center;
  padding-bottom: 50px;
}
.footer .sitemap h3 {
  color: #6db442;
}
.footer .sitemap hr {
  transform: rotate(90deg);
  margin-bottom: 130px;
}

.last-foot .place-holder {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0px;
  color: grey;
}
.last-foot .place-holder .st {
  width: 60px;
  height: 50px;
}
.last-foot .place-holder .ppp {
  display: flex;
  margin-right: 200px;
}
.last-foot .ccc {
  align-items: end;
  margin: 0px 0px;
}

.pago {
  display: flex;
  width: 400px;
  align-items: center;
}

.pop {
  width: 400px;
}

.viajes {
  width: 300px;
}/*# sourceMappingURL=style.css.map */