.last-foot {
  .place-holder {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px;
    color: grey;
    .st {
      width: 60px;
      height: 50px;
    }
    .ppp {
      display: flex;
      margin-right: 200px;
    }
  }
  .ccc {
    align-items: end;
    margin: 0px 0px;
  }
}
.pago {
  display: flex;
  width: 400px;
  align-items: center;
}
.pop{
  width: 400px;
}
.viajes{
  width: 300px;

}